.container-fluid[style="min-height: 500px;"]
  .row
    .col-md-3
      .card[style="width: 18rem;"]
        - if @user.avatar?
          = image_tag @user.avatar.url, class:"bd-placeholder-img card-img-top", width:"100%", height:"180"
        - else
          svg.bd-placeholder-img.card-img-top[width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"]
            title
              | Placeholder
            rect[fill="#868e96" width="100%" height="100%"]
            text[fill="#dee2e6" dy=".3em" x="50%" y="50%"]
              | Image cap
        .card-body
          h5.card-title
            = @user.name
          p.card-text
            = @user.bio
        ul.list-group.list-group-flush
          li.list-group-item
            | フォローユーザ
          li.list-group-item
            | フォロワーユーザ
          li.list-group-item
            = link_to "設定", edit_user_path(@user)
    .col-md-9
      .card-columns
        - if @posts
          - @posts.each do |post|
            .card.bg-dark.text-white
              - if post.image
                = image_tag post.image.url, class:"card-img", alt:"Card image"
              - else
                svg.bd-placeholder-img.card-img-top[width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"]
                  title
                    | Placeholder
                  rect[fill="#868e96" width="100%" height="100%"]
                  text[fill="#dee2e6" dy=".3em" x="50%" y="50%"]
                    | Image cap
              .card-img-overlay
                h5.card-title
                  = post.title
                p.card-text
                  = simple_format(post.text)
        - else
          = link_to "新規投稿はこちら", new_post_path
