<% if flash[:error_messages] %>
  <% flash[:error_messages].each do |message| %>
    <div class="alert alert-danger">
      <ul>
        <li><%= message %></li>
      <% end%>
    </ul>
  </div>
<% end %>
