/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * = require jquery-ui
 * = require_self
 * = require_tree
 */

 $enable-gradients: true;

 @import "bootstrap";


/* 全体設定 */

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-text-size-adjust: 100%;
}

//aタグの文字を一つ前の色に合わせる
a {
  color: inherit;
}

//ヘッダーの背景色を透明にする
.navbar-expand-lg.fixed-top{
  background-color: rgba(27, 30, 36, 0.5);
}


// fieldのエラー部分の色を赤にする
.field_with_errors {
  .form-control {
    @extend .is-invalid;
  }
  label {
    color: red;
  }
}


/* flashメッセージ：shared/_flash.html.slim */

//flashメッセージを上部に浮かせて表示する。
#flash {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1031;
  width: 100%;
}

/* ホーム画面で表示する各種フォーム
  （会員登録・ログイン画面・パスワード再設定画面） */

.home-form{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  //透明な箱を用意する
  .container{
    width: 300px;
    min-height: 300px;
    background-color: rgba(54, 54, 54, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: 80px 0px 20px 0px;

    h1 {
      margin: 20px 0px;
      font-family: 'Lato',sans-serif;
      font-weight: 100;
      color: white;
    }

    form {
      width: 60%;

      label {
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 1.7px;
        color: white;
      }

      i {
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 1.7px;
        color: white;
      }

      .btn {
        margin-top: 10px;
        width: 100%;
        opacity: 0.8;
      }
    }
    .link {
      width: 60%;
      margin: 0 auto;
      padding-bottom: 10px;
      color: white;

      a {
        font-weight: 100;
        text-align: left;
      }

      button {
        margin: 10px 0px;
      }

      .fab {
        margin-right: 10px;
      }
    }
  }
}

/* ログイン画面：devise/session/new.html.slim */
.login {
  background-size: cover;
  background-position: center;
  background-image: url("top-image2.jpg");
}

/* 会員登録画面：devise/registration/new.html.slim */
.signup{
  background-size: cover;
  background-position: center;
  background-image: url("top-image3.jpg");
}

/* パスワード再設定画面：devise/passwords/new.html.slim */
.password{
  background-size: cover;
  background-position: center;
  background-image: url("top-image3.jpg");
}


/* ユーザ情報編集画面：devise/registrations/edit.html.slim */

.circle-avatar {
  object-fit: cover;
  display: flex;
  flex-direction: column;

  img {
  margin-top: 20px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid black;
  }

  .hidden {
    display:none;
  }
}


/* footer */
footer {
  font-size: 12px;
  padding-top: 30px;
  background-color: none;

   ul{
     padding-left: 0;
     > li{
       display: inline;
       padding-right: 15px;
       color: #003569;
     }
   }
   p{
     color: #999;
  }
}

/* ====PC版==== */

@media (min-width: 600px) {

  .home-form{

    //透明な箱を用意する
    .container{
      width: 50%;
      min-height: 70%;
    }
  }
}
