/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * = require_self
 * = require_tree
 */
@import "bootstrap";

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}


/* TOPページ：index.html.slim */

//swiperの大きさ「画面サイズに合わせる」
.swiper-container {
  width: 100%;
  height: 80vh;
  position: relative;
}

//sliderの中の画像を画面サイズに合わせる
.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

//画面上におくtopイメージの設定
.hero-content{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  width: 100%;

  //透明な箱を置くイメージ
  .container {
    width: 300px;
    height: 300px;
    background-color: rgba(54, 54, 54, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;

    //トップタイトル
      h1 {
        font-family: 'Lato', sans-serif;
        color: white;
        font-weight: 100;
        font-size: 60px;
        font-style: italic;
        margin-bottom: 20px;
      }

    //タイトル説明
      p {
        font-weight: 100;
        color: white;
        font-size: 16px;
        letter-spacing: 1.7px;
        padding-bottom: 10px;
        margin: 0;
      }

    //リンク
      span {
        margin-top: 10px;
      }

  }
}

//swiper-pagination のボタンの色を変更する
.swiper-pagination-bullet-active{
  background-color: white;
}

//ヒーロの後に置く文言
.hero-text {
  height: 60px;

  h1 {
    margin-top: 20px;
    font-weight: 100;
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
  }

  span{
    color: #187EAC;
  }
}

/* login画面：session/new.html.slim */

//背景画像の設定
.login{
  background-image: url("top-image2.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  //透明な箱を用意する
  .container{
    width: 50%;
    height: 70%;
    background-color: rgba(54, 54, 54, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;

    h1 {
      margin-bottom: 20px;
      font-family: 'Lato',sans-serif;
      font-weight: 100;
      color: white;
    }

    form {
      width: 60%;

      label {
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 1.7px;
        color: white;
      }

      .btn {
        margin-top: 10px;
        width: 100%;
        opacity: 0.8;
      }
    }
  }
}

/* 会員登録画面：users/new.html.slim */

//背景画像の設定
.signup{
  background-image: url("top-image3.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  //透明な箱を用意する
  .container{
    width: 50%;
    height: 90%;
    background-color: rgba(54, 54, 54, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;

    h1 {
      margin-bottom: 20px;
      font-weight: 100;
      color: white;
    }

    form {
      width: 60%;

      label {
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 1.7px;
        color: white;
      }

      .btn {
        margin-top: 10px;
        width: 100%;
        opacity: 0.8;
      }
    }
  }
}


/* アバウト画面：home/about.html.slim */
.about {
  background-image: url("top-image1.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 80%;
    text-align: center;

    h1 {
      color: white;
      font-family: 'Lato', sans-serif;
      font-weight: 100;
    }
    p {
      color: white;
      font-weight: 100;
    }
  }
}

/* mypage画面：mypages/show.html.slim */
.card-columns {
  .card {
   background-color: black;
   img{
     opacity: 0.7;    // カラーフィルタ効果の度合いを指定(※)
     display: block;
    }
  }
}


/* footer */
.footer{
   font-size: 12px;
   padding-top: 30px;
   ul{
     padding-left: 0;
     > li{
       display: inline;
       padding-right: 15px;
       color: #003569;
     }
   }
   p{
     color: #999;
   }
 }

 .container{
   width: 40%;
   margin: 0 auto;
 }

/* 一度作り直してみる
 * {
  box-sizing: border-box;
}

 html {
  font-size: 100%;
  font-family: 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

 a {
  display: block;
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

 a:hover {
  transition: all 0.3s ease;
  color: #58d2b2;
}

 nav {
   font-family: 'Lato', sans-serif;
 }

 .top-page {
   background: #aa4b6b;  //fallback for old browsers
   background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  // Chrome 10-25, Safari 5.1-6
   background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
   //background-image: url("/images/sample_top_page.jpg");
   height: 700px;
   padding: 150px 0px;
   //background-size: cover;
   //background-position: center center;
 }

 .about {
   background: #aa4b6b;  // fallback for old browsers
   background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  // Chrome 10-25, Safari 5.1-6
   background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
   text-align: center;
   color: white;
 }

 .navbar {
   opacity: 0.7;
   top: 0;
   z-index: 10;
 }

 .title {
   color: white;
 }

 .container{
   margin-top: 10px;
}

.footer{
   font-size: 12px;
   padding-top: 30px;
   ul{
     padding-left: 0;
     > li{
       display: inline;
       padding-right: 15px;
       color: #003569;
     }
   }
   p{
     color: #999;
   }
 }

 .card-columns {
   .card {
    background-color: black;
    img{
      opacity: 0.7;    // カラーフィルタ効果の度合いを指定(※)
      display: block;
    }
   }
} */
