// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  width: 80%;
  margin:80px auto 20px auto;

  .image-preview {
    object-fit: cover;
    display: flex;
    flex-direction: column;

    img {
      width: 250px;
    }

    #image_img_prev.hidden {
      display: none;
    }

    #image_isnot_sky{
      color: red;
      font-weight: bold;
    }

    #image_isnot_sky.hidden{
      display: none;
    }
  }

  figure {
    > img {
      width: 60vh;
    }
  }
}

.days-container{
  width: 80%;
  margin:80px auto 20px auto;

  .container-header{
    margin-top: 20px;
    text-align: center;
  }

  .days-images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 10px;

    li {
      margin:15px;
      visibility: hidden;
      list-style: none;

      a {
        margin: 0;

        > img {
          width: 200px;
          height: 150px;
          object-fit: cover;
        }
      }
    }
  }
}

/* 投稿表示画面 */
.show-container{
  width: 80%;
  margin: 80px auto 20px auto;

  .container-header{
    margin-top: 20px;
    text-align: center;

    .create-date{
      text-align: center;
      margin: 0 auto;
    }

    figure{
      width: 100%;

      img{
        max-height: 400px;
        max-width: 100%;
      }
    }
  }
}
