// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  width: 40%;
  margin: 0 auto;

  .image-preview {
    object-fit: cover;
    display: flex;
    flex-direction: column;

    img {
      width: 250px;
    }

    #image_img_prev.hidden {
      display: none;
    }
  }

  figure {
    > img {
      width: 60vh;
    }
  }
}

.todays-container{
  width: 80%;
  margin:0 0 0 auto;

  .container-header{
    margin-top: 20px;
    text-align: center;
  }

  .todays-images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 10px;

    li {
      margin:15px;
      visibility: hidden;
      list-style: none;

      > img {
        width: 200px;
        height: 150px;
        object-fit: cover;
      }
    }
  }
}
