// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  width: 40%;
  margin: 10px auto;

  .image-preview {
    object-fit: cover;
    display: flex;
    flex-direction: column;

    img {
      width: 250px;
    }

    #image_img_prev.hidden {
      display: none;
    }
  }

  figure {
    > img {
      width: 60vh;
    }
  }
}

.days-container{
  width: 80%;
  margin:0 0 0 auto;

  .container-header{
    margin-top: 20px;
    text-align: center;
  }

  .days-images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 10px;

    li {
      margin:15px;
      visibility: hidden;
      list-style: none;

      a {
        margin: 0;
        
        > img {
          width: 200px;
          height: 150px;
          object-fit: cover;
        }
      }
    }
  }
}


.show-container {
  width: 80%;
  margin:0 0 0 auto;
  padding: 20px;
}

/* _post_detail画面 */
article{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  h3, p, a{
    display: inline-block;
    margin-left: 35px;
    font-weight: 100;
  }

  .create-date{
    .dot {
      float: left;
      width: 15px;
      height: 15px;
      background-color: #1C1C1C;
      border-radius: 50%;
      margin: 8px;
    }

    .date {
      float:left;
      font-size: 20px;
      font-weight: 300;
    }

    a {
      margin: 3px 5px;
      font-size: 15px;
      float: left;
      color: inherit;

      img{
        margin-left: 10px;
        padding-left: 0px;
        height: 15px;
      }
    }
  }

  .tag-list {
    float: left;
    padding-left: 35px;
    padding-bottom: 10px;

    .tags_search {
      margin: 0;

      &:hover{
        opacity: 0.8;
      }
    }
  }


  img {
    padding-left: 35px;
    object-fit: cover;
    max-height: 300px;
    max-width: 500px;
  }

  //誰かがみた空の画像一覧
  .list-image{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 35px;

    a {
      margin: 0;
      padding: 0;

      > img.thumb {
        padding: 5px;
        object-fit: cover;
        height: 100px;
        width: 100px;
      }
    }
  }
}
